header {
  margin-top: 0px;
  text-align: center;
}

header h1 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

.flex-container {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 12%
}

.flipper {
  transition: all 0.4s linear;
  transform-style: preserve-3d; 
  position: relative;
  perspective: 1000;
  cursor: pointer;
}

.flipper, .front, .behind0, .behind1, .behind2, .behind3 {
  width: 18.750em;
  height: 18.750em;
}
/*.flipper:hover {
  transform: rotateY(180deg);
}*/

.front {
  backface-visibility: hidden;
  position: absolute;
}

.front {
  z-index: 2;
  background: url(../assets/cardback.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



.behind0 {
  transform: rotateY(180deg);
  background: url(../assets/1.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.behind1 {
  transform: rotateY(180deg);
  background: url(../assets/5.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.behind2 {
  transform: rotateY(180deg);
  background: url(../assets/3.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.behind3 {
  transform: rotateY(180deg);
  background: url(../assets/4.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


  .flipped {
-webkit-transform:rotateY(180deg);
   -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
     -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
}
